

.admin-container {
    margin: 20px;
    margin-top: 0px;
  }
  
  .add-admin-button {
    float: right;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .add-liste-admin-button {
    float: right;
    margin: 0;
  }
  